* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif; 
    background-color: black; 
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1 {
    text-align: center;
    color: white; 
    font-size: 150%;
     padding: 10px;
     margin: 10px;
     
}
p{
     color: white; 
     padding: 10px;
      margin: 10px;
    text-align: center;
}
div{
    color: white;
     padding: 10px;
     margin: 10px;
      text-align: center;
     
}
button, #guzik {
    border: 1px white solid;
    background-color: darkslategray;
    color: white;
    width: 100px;
    height: 50px;
     text-align: center;
}
#all{
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}

/* Miejsce na style kalkulatora napiwków. */